.header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.header-wrapper {
    width: -webkit-calc(100% - 15px);
    width: -moz-calc(100% - 15px);
    width: calc(100% - 15px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-group a:not(:last-child) .btn {
    -webkit-border-top-right-radius: 0;
       -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
       -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
    width: 120px;
}

.btn-group a+a .btn {
    -webkit-border-top-left-radius: 0;
       -moz-border-radius-topleft: 0;
            border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
       -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;
    width: 120px;
}

.sorting-elements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.sorting-switcher:hover {
    cursor: pointer;
}

.sorting-switcher {
    color: rgb(219, 143, 29);
}

.active-switcher {
    color: rgb(17, 168, 17);
}